h1 {
  color: green;
  text-align: center;
  text-decoration: hotpink;

}
h2{
  color: black;
  text-align: center;
  font-style: oblique;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: medium;
  font-style: italic;
}
ul{
  line-height: 40px;
}
body{
  image-resolution: 1080p;
  text-align: center;
}